/Codewars_Java/017_highest_scoring_word/target/
/MyProjects/DiceRollSimulator/target/
/Codewars_Java/019_your_order_please/target/
/Codewars_Java/20_sort_the_odd/target/
/Codewars_Java/021_english_beggars/target/
/Codewars_Java/022_salesmans_travel/target/
/Codewars_Java/023_ball_upwards/target/